fastapi>=0.112.2,<1.0.0
uvicorn>=0.30.6
SQLAlchemy>=2.0.32,<2.1.0
alembic>=1.13.2
psycopg2-binary>=2.9.10
python-jose>=3.3.0
passlib>=1.7.4
bcrypt>=4.3.0
pydantic>=2.8.2,<3.0.0
pydantic-settings>=2.4.0
email_validator>=2.2.0
python-dotenv>=1.0.1
python-decouple>=3.8
httpx
openai>=1.40.0
python-multipart
pillow
pyspellchecker
python-docx
PyPDF2
python-pptx
greenlet>=3.2.2
